.pokemon{
    &-image{
        max-height: 80px;
    }
    &-search{
        padding: 0 4px
    }
}

.containerCards{
    .pokemonCard{
        margin:4px;
    }
}

@media screen and ( min-width: 768px ) {
    .containerCards{
        .pokemonCard{
            width: calc(25% - 8px);
        }
    }
}